/* src/styles/slider.css */
.slick-prev,
.slick-next {
    z-index: 1;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: background-color 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: darkred;
}

.slick-prev::before,
.slick-next::before {
    font-size: 25px;
    color: white;
    opacity: 10;
}
