/* STYLE NAVBAR */
.navbar .nav .active {
    /* background-color: blue; */
    color: red;
}
.toggleNav .active {
    color: red;
}
.navbar .nav .active:hover {
    color: white;
}
.navbar .color-active {
    background-color: white;
    border-bottom:
        2px solid,
        red;
}
/* END STYLE NAVBAR */
